/* all images except next were found on https://vecta.io/symbols/25/web-technologies.
 next was found on google images. */
section {
  width: 1584px;
  height: 396px;
  position: static;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  border: 2px solid black;
}
section img {
  width: 150px;
  padding: 2px;
  margin: 4px;
}
.underlay-container {

}
.overlay-container {

}
.underlay-wrap {
  position: static;
}
.overlay-wrap {
  opacity: 0.5;
}
.img-wrap {
  height: fit-content;
  /* border: 2px solid slateblue; */
}
.featured-wrap {
  width: 1580px;
  height: fit-content;
  text-align: center;
  /* border: 2px solid pink; */
}
.featured-image {
  width: 500px;
}
/* .next-wrap {
  height: 142px;
  background: black;
  display: flex;
  align-items: center;
}
.next-image {
  filter: invert(1);
} */