/* all images except next were found on https://vecta.io/symbols/25/web-technologies.
 next was found on google images. */
section {
  width: 1584px;
  height: 396px;
  position: static;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  border: 2px solid black;
}
.me-container {
  position: absolute;
  top: 0;
  left: 0;
  /* display: none; */
}
.icons-container {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.5;
  background: white;
}
.icons-container img:not(.featured-image) {
  width: 150px;
  padding: 2px;
  margin: 4px;
}
.top-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.bottom-row {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.img-wrap {
  display: flex;
  align-items: center;
  height: fit-content;
  /* border: 2px solid blue; */
}
.featured-image {
  width: 500px;
}
.next-wrap {
  height: 162px;
  display: flex;
  align-items: center;
  /* background: black; */
}
/* .next-image {
  filter: invert(1);
} */
